
<div class="field">
  <%= c.check_box :enabled %><br />
  <%= c.label :enabled %>
</div>
<div class="field">
  <%= c.label :chapter_title %><br />
  <%= c.text_field :chapter_title %>
</div>
<div class="field">
  <%= c.label :chapter_number %><br />
  <%= c.text_field :chapter_number %>
</div>
<div class="field">
  <%= c.label :resume %><br />
  <%= c.text_field :resume %>
</div>
