
<!-- Inherit from .chapters -->
<div class="chapter-each">
  <div class="chapter-show-each btn primary" onclick="expand_chapter(this);">Show chapter</div>
  <div class="chapter-each-display">
    <!-- <div class="clearfix"> -->
    <!--   <%= f.label :enabled %> -->
    <!--   <div class="input"> -->
    <!-- 	<%= f.check_box :enabled %> -->
    <!--   </div> -->
    <!-- </div> -->
    
    <div class="clearfix">
      <%= f.label :chapter_title %>
      <div class="input">
	<%= f.text_field :chapter_title %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :chapter_number %>
      <div class="input">
	<%= f.text_field :chapter_number %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :resume %>
      <div class="input">
	<%= f.text_field :resume %>
      </div>
    </div>
    
    <div class="clearfix remove-chapter-link">
      <!-- Link to remove this chapter -->
      <%= link_to_remove_fields "Remove chapter", f %>
    </div>
    

    <div class="sections">
      <%= link_to_add_fields "Add sections", f, :sections %>
      <%= f.fields_for :sections do |s| %>
	<%= render 'section_form', :f => s %>
      <% end %>
    </div>
    
  </div>
</div>
