
<div class="section-each">
  <div class="section-show-each" onclick="expand_section(this);">
    <div class="btn primary">
      Show section
    </div>
    <% if f.object.new_record? %>
      &nbsp;&nbsp;&nbsp;(New section)
    <% else %>
      &nbsp;&nbsp;&nbsp;<%= f.object.section_number.to_s + '. ' + f.object.section_title %>
    <% end %>
  </div>
  <div class="section-each-display">
    
    <!-- <div class="clearfix"> -->
    <!--   <%= f.label :enabled %> -->
    <!--   <div class="input"> -->
    <!-- 	<%= f.check_box :enabled %> -->
    <!--   </div> -->
    <!-- </div> -->
    
    <div class="clearfix">
      <%= f.label :section_title %>
      <div class="input">
	<%= f.text_field :section_title %>
      </div>
    </div>

    <!-- For url mapping -->
    <%= f.hidden_field :section_number, :class => 'section_number_relative_id' %>

    <div class="clearfix">
      <%= f.label :resume %>
      <div class="input">
	<%= f.text_field :resume %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :video %>
      <div class="input">
	<%= f.file_field :video %> 
	<br/>
	<br/>
	<% if f.object.new_record? == false and f.object.video.present? %>
	  Vidéo already present : <strong><%= f.object.video.url.split('/')[-1] %></strong>
	<% end %>
      </div>
    </div>

    <div class="clearfix">
      <!-- Link to remove this chapter -->
      <%= link_to_remove_fields "Remove section", f %>
    </div>

  </div>

</div>
