<p id="notice"><%= notice %></p>

<p>
  <b>Subject name:</b>
  <%= @subject.subject_name %>
</p>

<p>
  <b>Resume:</b>
  <%= @subject.resume %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
